# GROQ API
VITE_GROQ_API_KEY=your_api_key_here
VITE_GROQ_URL_MODELS=https://api.groq.com/openai/v1/models
VITE_GROQ_URL_COMPLETION=https://api.groq.com/openai/v1/chat/completions

# Sentry
VITE_SENTRY_DSN=your_sentry_dsn_here
VITE_APP_VERSION=0.1.0

# Env para el plugin de Sentry Build
SENTRY_AUTH_TOKEN=your_sentry_auth_token
SENTRY_ORG=devlitus
SENTRY_PROJECT=consulting
