---
import Layout from '../layouts/Layout.astro';
import LoginComponent from '../components/Login.astro';
---

<Layout title="Login">
  <div class="flex justify-center h-screen bg-gray-900 text-white">
    <div class="w-full max-w-[1200px] flex flex-col h-full">
      <LoginComponent />
    </div>
  </div>
</Layout>
