---
import Layout from '../layouts/Layout.astro';
import RegisterComponent from '../components/Register.astro';
---

<Layout title="Register">
  <div class="flex justify-center h-screen bg-gray-900 text-white">
    <div class="w-full max-w-[1200px] flex flex-col h-full">
      <RegisterComponent />
    </div>
  </div>
</Layout>
  