---
// src/pages/register.astro
import Layout from '../layouts/Layout.astro';
import Register from '../components/Register.astro';
---

<Layout title="Register">
  <main>
    <Register />
  </main>
</Layout>
